@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sekuya&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    scroll-behavior: smooth;
    ;
}

figcaption {
    display: none;
}

#header-tmdb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 12px 4%;
    background: linear-gradient(45deg, #ddb954 41%, #ddc175 60%);
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

#list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-header-right {
    display: flex;
    gap: clamp(12px, 1.6vw, 20px);
    align-items: center;
}

.item-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(8px, 1.11vw, 16px);
}

#logo-api-tmdb {
    font-family: "Playwrite NO", cursive;
    font-weight: 600;
    font-size: clamp(12px, 2.5vh, 32px);
    color: #ffffff;
}

.item-header-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 18vw;
    max-width: 230px;
    height: 40px;
    background-color: #313131;
    padding-left: 12px;
    gap: 8px;
    position: relative;
    border-radius: 7px;
    transition: .3s ease;
}

.fa-magnifying-glass {
    color: #969595;
}

#input-field-tmdb {
    background-color: transparent;
    border: none;
    outline: none;
    color: #969595;
}

#input-field-tmdb::placeholder {
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    color: #969595;
}

.item-header-input:focus-within {
    box-shadow: 0px 0px 15px 5px #ffffff;
}

#btn-search {
    padding: 9.5px 28px;
    border: none;
    outline: none;
    border-radius: 12px 4px 12px 4px;
    background-color: #313131;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: .875rem;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s ease;
}

#btn-search:hover {
    background-color: #D9D9D9;
}

#main-tmdb {
    width: 100%;
    background: #33312e;
    background: linear-gradient(180deg, rgb(43, 41, 38) 40%, rgba(38, 33, 33, 1) 60%);
}

#container-extensive {
    padding: 2%;
}

#container-content-extensive {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    margin-top: 24px;
}

.list-extensive img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: .3s ease;
}

.list-extensive img:hover {
    transform: scale(1.05);
}

#results-search {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: clamp(20px, 3.9vh, 40px);
    color: #FFFFFF;
}

#title-container-top10,
#title-container-popular {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: clamp(20px, 3.9vh, 40px);
    color: #FFFFFF;
    padding-left: 5%;
    padding-top: 2%;
}

#container-top10,
#container-popular {
    position: relative;
    display: flex;
    align-items: center;
}

.list-top10 {
    position: relative;
}

.classRank {
    position: absolute;
    bottom: 7px;
    left: -15px;
    font-family: "Sekuya", system-ui;
    font-weight: 500;
    font-size: clamp(40px, 11vh, 120px);
    color: #000000;
    text-shadow: 0px 0px 10px #000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
}

.container-navigation {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    padding: 20px;
}

.left,
.right {
    margin: 1%;
    border: none;
    width: 2%;
    height: 100px;
    background-color: #494949;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}

.left:hover,
.right:hover {
    background-color: #575656;
}

.fa-chevron-left,
.fa-chevron-right {
    color: #FFFFFF;
}

#section-hero {
    width: 100%;
    min-height: 95vh;
    padding-left: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#section-hero::before {
    content: "";
    position: absolute;
    background: transparent;
    inset: 0;
    z-index: 1;
}

#section-hero>* {
    position: relative;
    z-index: 2;
}

#container-content-film {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(24px, 2.5vh, 36px);
}

.img-poster-film {
    border-radius: 20px;
    height: 65vh;
}

.img-slide-bottom {
    border-radius: 20px;
    height: 40vh;
    cursor: pointer;
    transition: .3s ease;
}

.img-slide-bottom:hover {
    transform: scale(1.05);
}

#content-film {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3.9vh, 40px);
}

.title-film {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: clamp(20px, 4.5vh, 50px);
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #000000;
}

#btn-view-trailer {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #ddb954;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: clamp(12px, 1.7vh, 20px);
    transition: .3s ease;
    cursor: pointer;
}

#btn-view-trailer:hover {
    background-color: #313131;
    color: #FFFFFF;
}

#overview-film {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: clamp(16px, 3vh, 30px);
    color: #e2e2e2;
    text-shadow: 0px 0px 10px #000000;
}

.description-film {
    width: 50%;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: clamp(8px, 2vh, 20px);
    color: #FFFFFF;
    line-height: 1.6;
}

.no-movie {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: clamp(16px, 4.2vh, 42px);
    color: #FFFFFF;
    text-align: center;
}

#genre-dropdown {
    position: relative;
}

#genre-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14vw;
    height: 40px;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 12px 4px 12px 4px;
    background-color: #313131;
    transition: .3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: .875rem;
    color: #FFFFFF;
    cursor: pointer;
}

#btn-genre-title {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: .875rem;
    color: #FFFFFF;
    cursor: pointer;
}

.fa-chevron-down {
    color: #FFFFFF;
    transition: transform .3s ease;
}

#genre-menu {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-8px);

    transition: opacity .3s ease, transform .3s ease;

}

#genre-menu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
    z-index: 999;
}

.genre-option {
    padding: 10px 30px;
    border-radius: 20px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #444444;
    transition: .3s ease;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: .775rem;
    color: #FFFFFF;
}

.genre-option:hover {
    background-color: #707070;
    color: #ddb954;
}

#genre-dropdown.open .fa-chevron-down {
    transform: rotate(180deg);
}

#genre-menu li {
    opacity: 0;
    transform: translateY(-6px);
    transition: opacity .3s ease, transform .3s ease;
}

#genre-menu.active li {
    opacity: 1;
    transform: translateY(0);
}

#genre-menu.active li:nth-child(1) {
    transition-delay: 0.03s;
}

#genre-menu.active li:nth-child(2) {
    transition-delay: 0.06s;
}

#genre-menu.active li:nth-child(3) {
    transition-delay: 0.09s;
}

#genre-menu.active li:nth-child(4) {
    transition-delay: 0.12s;
}

#genre-menu.active li:nth-child(5) {
    transition-delay: 0.15s;
}

#genre-menu.active li:nth-child(6) {
    transition-delay: 0.18s;
}

#genre-menu.active li:nth-child(7) {
    transition-delay: 0.21s;
}

#genre-menu.active li:nth-child(8) {
    transition-delay: 0.24s;
}

#genre-menu.active li:nth-child(9) {
    transition-delay: 0.27s;
}

#genre-menu.active li:nth-child(10) {
    transition-delay: 0.30s;
}

#genre-menu.active li:nth-child(11) {
    transition-delay: 0.33s;
}

#genre-menu.active li:nth-child(12) {
    transition-delay: 0.36s;
}

#genre-menu.active li:nth-child(13) {
    transition-delay: 0.39s;
}

#genre-menu.active li:nth-child(14) {
    transition-delay: 0.42s;
}

#genre-menu.active li:nth-child(15) {
    transition-delay: 0.45s;
}

#genre-menu.active li:nth-child(16) {
    transition-delay: 0.48s;
}

#genre-menu.active li:nth-child(17) {
    transition-delay: 0.51s;
}

#genre-menu.active li:nth-child(18) {
    transition-delay: 0.54s;
}

#genre-menu.active li:nth-child(19) {
    transition-delay: 0.57s;
}

#modal-trailer {
    position: fixed;
    inset: 0;
    width: 600px;
    height: 500px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    overflow: auto;
    z-index: 9999;
    border-radius: 20px;
    padding-top: 7%;
}

#modal-trailer.active {
    display: flex;
    margin: 10vh auto;
}

#modal-content {
    padding: 5%;
}

#header-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

#fechar-modal {
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #444444;
    cursor: pointer;
    transition: .3s ease;
}

#fechar-modal:hover {
    background-color: #707070;
}

.fa-xmark {
    color: #FFFFFF;
    font-size: clamp(12, 2.3vh, 24px);
}

#trailer {
    width: 100%;
    height: 45vh;
    margin-bottom: 1rem;
    border-radius: 20px;
}

#detalhe-film {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    font-size: clamp(24px, 3.9vh, 40px);
}

.modal-genre {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #e2e2e2;
    font-size: clamp(12px, 2vh, 24px);
}

.modal-overview {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: clamp(12px, 2vh, 24px);
    width: 100%;
}